{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "jsx-quotes": [1, "prefer-double"],
  "jsxBracketSameLine": false
}
